html{
	font-family: "Lucida Grande", "Arial", sanserif;
	color: #ffffff;
	background-color: #000000;
}

h1{
	font-size: 64pt;
	text-align: center;
	background-color: #000000;
}

h2{
	font-size: 30pt;
	filter: drop-shadow(5px 5px 2px #808080);
}

p{
	font-size: 24pt;
	padding-top: 20px;
}

#intro{
	background-color: #000000;
}

img{
	display: block;
  	margin-left: auto;
  	margin-right: auto;
	width: 525px;
}

div{
	min-height: 150px;
	padding: 25px;
}

#red{
	background: #ff0000;
	text-align: right;
}

#blue{
	background: #0000ff;
	text-align: left;
}

#yellow{
	background: #ffff00;
	text-align: right;
}

#yellow h2{
	color: #000000;
	filter: drop-shadow(#808080);
}

#yellow p{
	color: #000000;
}

#green{
	background: 007F00;
	text-align: left;
}

footer{
	text-align: right;
	padding-bottom: 10px;
	padding-right: 10px;
	background-color: #000000;
}
