html{
	font-family: "Lucida Grande"
	color: white;
	background: black;
}

h1{
	font-size: 64pt;
	text-align: center;
}

h2{
	font-size: 64pt;
	filter: drop-shadow(5px 5px 2px #808080);
}

p{
	font-size: 24pt;
	padding-top: 20px;
}

img{
	text-align: center;
	display: inline-block;
	width: 525px;
}

div{
	min-height: 150px;
	padding: 25px;
}

#red{
	background: red;
	text-align: right;
}

#blue{
	background: blue;
	text-align: left;
}

#yellow{
	background: yellow;
	text-align: right;
}

#yellow h2{
	color: black;
	filter: drop-shadow(#808080);
}

#yellow p{
	color: black;
}

#green{
	background: green;
	text-align: left;
}

footer{
	text-align: right;
	padding-bottom: 10px;
	padding-right: 10px;
}
